<h1>Crowd fund on the blockchain</h1>

<h3>
    <button *ngIf="!showCreateForm" class="glyphicon glyphicon-plus" (click)="showCreateForm=true"></button>
    <button *ngIf="showCreateForm" class="glyphicon glyphicon-minus" (click)="showCreateForm=false"></button>
    Add Your Own Project
</h3>
<create-project *ngIf="showCreateForm"></create-project>

<h3>
    <button *ngIf="!showActiveProjects" class="glyphicon glyphicon-plus" (click)="showActiveProjects=true"></button>
    <button *ngIf="showActiveProjects" class="glyphicon glyphicon-minus" (click)="showActiveProjects=false"></button>
    Active Projects
</h3>
<active-projects *ngIf="showActiveProjects"></active-projects>


